.ag-theme-alpine {
    --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
    /* Add left and right borders to each cell and use row border's properties  */
    --ag-header-column-separator-display: block;
    --ag-header-column-separator-width: 0.5px;
    --ag-row-border-color: #b4b4b4;
    --ag-header-column-separator-color: #b4b4b4;
    --ag-row-hover-color: #fdecec;
    --ag-border-radius: 30px;

}

