.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 120px;
   
}

.ModalContent {
    padding: 25px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    min-width: 400px;
    padding-top: 0;
}

.Modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Modal.headerAndCloseBtn {
    display: flex;
    flex-direction: row;
}

.headerAndCloseBtn.header{
    width: 50px;
    display: block;
}
.headerAndCloseBtn.closeBtn{
    width: 50px;
    display: block;
}